[user]
	name = PEPEtyam
	email = vlad.shkinderov@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	pager = less
[pager]
	diff = hunk pager
	show = hunk pager
